.header{
    color:red;
    font-size: 5rem;
    text-align: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock{
    text-align: center;
    color: rgb(143, 132, 132);
}

.textH2{
    color: red;
    font-size: 3em;
    text-align: center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  rgb(143, 132, 132);
}

.cvd{
    color: rgb(143, 132, 132);
    text-align: center;
}

.cvd a {
    text-decoration: none;
    color: rgb(228, 10, 10);
}

.cvd a:hover{
    background-color: red;
    color: white;
}